

/*cover*/
cover {
    background-image: url('images/warsaw-2110691_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center
}

.cover-caption {
    width: 100%;
}
